* {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.navbar {
    background-color: hsla(150, 50%, 4%, 0.804);
}

.img {
    width: 78px;
    height: 72px;
}



h4 {
    font-size: 18px;
    margin-left: 5px;
    font-family: "Poppins", sans-serif;
    text-shadow: green 2px 0, green 2px 0;
}

.mydropdown {
    display: none;
}

.pic {
    background-image:  linear-gradient(
        45deg,
        rgba(55, 45, 45, 0.75),
        rgba(36, 45, 53, 0.75)
    ),
    url('images/imdadul-hussain-YiA4wqVpLQQ-unsplash.jpg');
    height: 450px;
    width: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.fluid {
    margin-top: 3em;
    margin-bottom: 50px;
    
}

.contact {
    margin-top: 50px;
}

.get {
    padding-top: 6em;
    color: #fff;
    font-size: 38px;
    letter-spacing: 5px;
    font-family: 'Jost', sans-serif;
    text-shadow: green 2px 0, green 2px 0;
}

label {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

input {
    width: 450px;
    height: 50px;
    background-color: rgb(223, 212, 212);
    border-radius: 20px;
    border: 0;
}

textarea {
    background-color: rgb(223, 212, 212);
    width: 450px;
    border-radius: 20px;
    border: 0;
}

.moil {
    color: black;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 22px;
    margin: 25px 0px;
    }







@media (max-width: 600px) {
    .mydropdown {
        display: block;
    }

    .navbar-nav {
        display: none;
        color: white;
    }

    input {
    width: 370px;
    }

    textarea {
        width: 370px;
    }

    .contact {
        text-align: center;
    }

    .moil {
    font-size: 16px;
    }

    .get {
    font-size: 32px;
    }

    label {
        font-size: 18px;
    }

    .pic {
    height: 400px;
    }

}